In [1]:
import geopandas as gpd
import xarray as xr
import pandas as pd

# from metloom.pointdata import SnotelPointData, USGSPointData, MesowestPointData
import datetime as dt
import matplotlib.pyplot as plt
import pygeohydro as gh

In [12]:
ucrb_hcdn_stations = gpd.read_file('./ucrb_hcdn_stations.json')

In [17]:
ucrb_hcdn_stations

    station_id                     geometry
0      6614800  POINT (40.49609 -105.86501)
1      6746095  POINT (40.53998 -105.88279)
2      7083000  POINT (39.17221 -106.38919)
3      7105945  POINT (38.70749 -104.84664)
4      9034900  POINT (39.76026 -105.90640)
5      9035800  POINT (39.80054 -106.02641)
6      9035900  POINT (39.79582 -106.03057)
7      9047700  POINT (39.59443 -105.97252)
8      9065500  POINT (39.62582 -106.27808)
9      9066000  POINT (39.59638 -106.26503)
10     9066200  POINT (39.64832 -106.32308)
11     9066300  POINT (39.64582 -106.38225)
12     9081600  POINT (39.23221 -107.22727)
13     9107000  POINT (38.86027 -106.56670)
14     9306242  POINT (39.92025 -108.47287)
15     9352900  POINT (37.47750 -107.54367)